//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: rem(5) rem(32);
    min-height: rem(52);
    background-color: $secondary-1;
    border: rem(1) solid $secondary-1;
    border-radius: rem(6);

    line-height: 150%;
    letter-spacing: 0.005em;
    color: $white;

    transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
    @media (any-hover: hover) {
        &:hover {
            background-color: transparent;
            color: $secondary-1;
        }
    }

    &_outline {
        background-color: transparent;
        border: rem(1) solid $secondary-1;
        color: $secondary-1;
        @media (any-hover: hover) {
            &:hover {
                background-color: $secondary-1;
                color: $white;
            }
        }
    }

    &_arrow {
        gap: rem(8);
        padding: rem(5) rem(24);
        path {
            stroke: $secondary-1;
            transition: all 0.3s ease 0s;
        }
        @media (any-hover: hover) {
            &:hover {
                path {
                    stroke: $white;
                }
            }
        }
    }
}
