.about-page {
    &__main-screen {
        .main-screen__content {
            flex: 0 0 percent(370, 1110);
        }
        .main-screen__image {
            padding-bottom: rem(20);
            @media (min-width: $mobile) {
                padding-top: rem(60);
                margin: 0 rem(-40);
                flex: 0 0 percent(640, 1110);
            }
        }
    }

    &__brands {
        border: none;
    }

    &__info {
    }
    &__what {
    }
}

//========================================================================================================================================================

.info-about {
    padding-top: rem(20);
    @include adaptiveValue("padding-bottom", 80, 60, 1110, 767.98, 1);
    &__container {
        display: grid;
        gap: rem(32);
        justify-content: center;
        grid-template-columns: repeat(auto-fit, minmax(rem(250), 1fr));

        @media (min-width: $pc) {
            grid-template-columns: repeat(auto-fit, minmax(rem(250), rem(316)));
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: $white;
        box-shadow: 0px 0px rem(8) rgba(22, 23, 72, 0.07), 0px rem(25) rem(35) rgba(22, 23, 72, 0.05);
        border-radius: rem(8);
        @include adaptiveValue("padding", 50, 30, 1110, 767.98, 1);
    }

    &__title {
        font-weight: 700;
        @include adaptiveValue("font-size", 56, 42, 1110, 767.98, 1);
        line-height: math.div(62, 56);
        color: $primary;
        &:not(:last-child) {
            margin-bottom: rem(18);
        }
    }

    &__text {
        font-size: rem(22);
        line-height: math.div(33, 22);
        flex: 1 1 auto;
        &:not(:last-child) {
            margin-bottom: rem(12);
        }
    }

    &__img {
        @include adaptiveValue("margin-bottom", -50, -30, 1110, 767.98, 1);
        @include adaptiveValue("margin-right", -50, -30, 1110, 767.98, 1);
        @include adaptiveValue("margin-left", -50, -30, 1110, 767.98, 1);

        img {
            max-width: 100%;
        }
    }
}

//========================================================================================================================================================

.cultere {
    padding-top: rem(40);
    @include adaptiveValue("padding-bottom", 80, 60, 1110, 767.98, 1);
    background: linear-gradient(268.52deg, #e3e7f6 -52.27%, rgba(227, 231, 246, 0) 138.23%);
    &__container {
    }

    &__heading {
        @include adaptiveValue("margin-bottom", 75, 40, 1110, 767.98, 1);
    }

    &__body {
        @include adaptiveValue("margin-bottom", 100, 50, 1110, 767.98, 1);
    }
}

//========================================================================================================================================================

.what-about {
    @include adaptiveValue("padding-top", 100, 50, 1110, 767.98, 1);
    @include adaptiveValue("padding-bottom", 120, 60, 1110, 767.98, 1);
    &__container {
    }

    &__about {
        flex-direction: row-reverse;
        align-items: center;
        .about-block__content {
            padding-top: 0;
        }
    }
}

//========================================================================================================================================================

.are-hiring {
    background: linear-gradient(268.52deg, #e3e7f6 -52.27%, rgba(227, 231, 246, 0) 138.23%);
    @include adaptiveValue("padding-top", 150, 70, 1110, 767.98, 1);
    @include adaptiveValue("padding-bottom", 150, 70, 1110, 767.98, 1);
    &__container {
        @media (min-width: $mobile) {
            display: flex;
            gap: rem(40);
            justify-content: space-between;
        }
    }

    &__content {
        @media (min-width: $pc) {
            padding-left: rem(86);
        }
        @media (min-width: $mobile) {
            flex: 0 0 percent(416, 1110);
        }
        @media (max-width: $mobile) {
            display: flex;
            flex-direction: column;
            align-items: center;
            &:not(:last-child) {
                margin-bottom: rem(40);
            }
        }
    }

    &__heading {
        @media (min-width: $mobile) {
            text-align: left;
            .heading__text {
                max-width: rem(334);
            }
        }

        &:not(:last-child) {
            margin-bottom: rem(40);
        }
    }

    &__button {
        @media (max-width: $mobileSmall) {
            width: 100%;
        }
    }

    &__label {
        margin-top: rem(14);
        margin-left: rem(66);
        @media (max-width: $mobile) {
            margin-left: rem(200);
        }
        @media (max-width: $mobileSmall) {
            text-align: right;
            margin: rem(14) 0 0 auto;
        }
        img {
            max-width: 100%;
        }
    }

    &__image {
        @media (min-width: $mobile) {
            flex: 0 1 percent(591, 1110);
        }
        @media (max-width: $mobile) {
            text-align: center;
        }
        img {
            max-width: 100%;
        }
    }
}
