.main-screen {
    background: linear-gradient(252.91deg, #e3e7f6 3.68%, rgba(227, 231, 246, 0) 97.82%);

    &__container {
    }

    &__wrapper {
        padding-top: rem(120);
        @media (min-width: $mobile) {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
        }
        .fullscreen & {
            @media (min-height: em(910)) {
                max-height: rem(815);
            }
            @media (min-width: $tablet) and (max-height: em(910)) {
                min-height: 100vh;
            }
        }
    }

    &__content {
        @include adaptiveValue("margin-bottom", 210, 40, 1440, 767.98, 1);
        @media (max-width: $tablet) {
            flex: 0 1 55%;
        }
        @media (min-width: $mobile) {
            @include adaptiveValue("margin-top", 100, 0, 1440, 767.98, 1);
            flex: 0 0 rem(480);
        }
        @media (max-width: $mobile) {
            text-align: center;
        }
    }

    &__title {
        font-weight: 700;
        @include adaptiveValue("font-size", 48, 32, 1110, 479.98, 1);
        line-height: math.div(62, 48);
        color: $primary;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 32, 16, 1110, 767.98, 1);
        }
    }

    &__text {
        font-size: rem(22);
        line-height: math.div(33, 22);
        @include adaptiveValue("max-width", 512, 340, 1110, 767.98, 1);
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 40, 20, 1110, 767.98, 1);
        }
        @media (max-width: $mobile) {
            margin: 0px auto;
        }
    }

    &__image {
        @media (max-width: $tablet) {
            flex: 0 0 60%;
        }
        @media (min-width: $mobile) {
            @include adaptiveValue("margin-right", -154, -60, 1440, 1200, 1);
            @include adaptiveValue("margin-left", -154, -180, 991.98, 767.98, 1);
            flex: 0 0 percent(847, 1110);
        }
        @media (max-width: $mobile) {
            margin: 0px auto;
            max-width: rem(440);
        }
        @media (max-width: $mobileSmall) {
            max-width: rem(290);
        }
        img {
            max-width: 100%;
        }
    }

    &__buttons {
        display: flex;
        align-items: center;
        gap: rem(16);
        @media (max-width: $mobile) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__button {
        @media (max-width: $mobileSmall) {
            width: 100%;
        }
    }
}

//========================================================================================================================================================

.brands {
    @include adaptiveValue("padding-top", 100, 40, 1110, 767.98, 1);
    @include adaptiveValue("padding-bottom", 128, 64, 1110, 767.98, 1);
    border-bottom: rem(1) solid rgba(197, 203, 226, 0.5);
    &__container {
    }

    &__title {
        color: $primary;
        font-weight: 700;
        @include adaptiveValue("font-size", 36, 26, 1110, 479.98, 1);
        line-height: math.div(57, 36);
        text-align: center;

        span {
            color: $secondary-1;
        }

        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 80, 30, 1110, 767.98, 1);
        }
    }

    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        @include adaptiveValue("gap", 40, 20, 1110, 479.98, 1);
        @media (max-width: $pc) {
            justify-content: space-evenly;
        }
    }

    &__item {
        text-align: center;
        img {
            max-width: 100%;
        }
    }
}

//========================================================================================================================================================

.heading {
    text-align: center;
    &__label {
        line-height: math.div(27, 16);
        text-transform: uppercase;
        color: $secondary-1;
        &:not(:last-child) {
            margin-bottom: rem(16);
        }
    }

    &__title {
        font-weight: 700;
        @include adaptiveValue("font-size", 44, 32, 1110, 479.98, 1);
        line-height: math.div(57, 44);
        color: $primary;
        &:not(:last-child) {
            margin-bottom: rem(16);
        }
    }

    &__text {
        line-height: math.div(27, 16);
    }
}

//========================================================================================================================================================

.item-product {
    background-color: $white;
    box-shadow: 0px 0px rem(8) rgba(22, 23, 72, 0.07), 0px rem(25) rem(35) rgba(22, 23, 72, 0.08);
    border-radius: rem(8);
    overflow: hidden;
    @include adaptiveValue("padding", 64, 24);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;

    transition: box-shadow 0.3s ease 0s;
    @media (any-hover: hover) {
        &:hover {
            box-shadow: 0px 0px rem(18) rgba(22, 23, 72, 0.1), 0px rem(35) rem(45) rgba(22, 23, 72, 0.1);
        }
    }
    &__content {
        flex: 1 1 auto;
        @media (min-width: $mobileSmall) {
            max-width: rem(320);
        }
    }

    &__title {
        display: inline-flex;
        img {
            max-width: 100%;
        }
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 40, 30, 1110, 767.98, 1);
        }
    }

    &__text {
        @include adaptiveValue("font-size", 24, 18, 1110, 479.98, 1);
        line-height: math.div(31, 24);
        color: $dark-2;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 32, 22, 1110, 767.98, 1);
        }
    }

    &__button {
        @include adaptiveValue("margin-bottom", 0, 22, 1110, 991.98, 1);
        @media (max-width: $mobileSmall) {
            width: 100%;
        }
    }

    &__image {
        display: inline-flex;
        justify-content: center;
        text-align: center;
        @include adaptiveValue("margin-bottom", -64, -24);
        margin-right: rem(-24);
        margin-left: rem(-24);
        margin: 0px auto;
        img {
            max-width: 100%;
        }
    }
}

//========================================================================================================================================================

.about-block {
    @media (min-width: $mobile) {
        display: flex;
        gap: rem(60);

        justify-content: center;
    }
    &__content {
        @media (min-width: $mobile) {
            @include adaptiveValue("padding-top", 45, 0, 1110, 767.98, 1);
            flex: 0 0 rem(416);
        }
        @media (max-width: $tablet) {
            flex: 0 1 rem(416);
        }
        @media (max-width: $mobile) {
            &:not(:last-child) {
                margin-bottom: rem(40);
            }
        }
    }

    &__title {
        font-weight: 700;
        font-size: rem(44);
        @include adaptiveValue("font-size", 44, 36, 1110, 479.98, 1);
        line-height: math.div(57, 44);
        color: $primary;
        &:not(:last-child) {
            margin-bottom: rem(16);
        }
    }

    &__text {
        line-height: math.div(27, 16);
        p {
            &:not(:last-child) {
                @include adaptiveValue("margin-bottom", 16, 8, 1110, 479.98, 1);
            }
        }
    }

    &__image {
        @media (min-width: $mobile) {
            flex: 0 1 percent(560, 1110);
        }
        @media (max-width: $mobile) {
            text-align: center;
        }
        img {
            max-width: 100%;
        }
    }
}

//========================================================================================================================================================

.body-cultere {
    display: grid;
    gap: rem(36);
    grid-template-columns: repeat(3, 1fr);
    @media (max-width: $tablet) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: $mobile) {
        gap: rem(20);
    }
    @media (max-width: em(700)) {
        grid-template-columns: 1fr;
    }
    &__item {
        background-color: $white;
        box-shadow: 0px 0px rem(8) rgba(22, 23, 72, 0.07), 0px rem(25) rem(35) rgba(22, 23, 72, 0.05);
        border-radius: rem(8);
        @include adaptiveValue("padding", 40, 20, 1110, 479.98, 1);
    }

    &__title {
        font-weight: 700;
        @include adaptiveValue("font-size", 28, 22, 479.98, 320, 1);
        line-height: math.div(31, 28);
        display: flex;
        align-items: center;
        color: $dark-2;
        gap: rem(10);
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 32, 24, 1110, 767.98, 1);
        }
    }

    &__image {
        flex: 0 0 rem(44);
        img {
            max-width: 100%;
        }
    }

    &__text {
        flex: 1 1 auto;
        line-height: math.div(27, 16);
    }
}

//========================================================================================================================================================

.spinner {
    padding: rem(100) rem(15);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.page404 {
    @include adaptiveValue("padding-top", 150, 120, 1110, 767.98, 1);
    @include adaptiveValue("padding-bottom", 120, 100, 1110, 767.98, 1);
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__heading {
        &:not(:last-child) {
            margin-bottom: rem(16);
        }
    }

    &__button {
        margin: 0px auto;
        text-align: center;
    }
}
