.products {
    @include adaptiveValue("padding-top", 110, 40, 1110, 767.98, 1);
    @include adaptiveValue("padding-bottom", 110, 40, 1110, 767.98, 1);
    &__container {
    }

    &__heading {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 100, 30, 1110, 767.98, 1);
        }
    }

    &__body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: rem(32);
        @media (max-width: $mobile) {
            grid-template-columns: 1fr;
        }
    }
}

//========================================================================================================================================================

.awards-home {
    background: linear-gradient(268.52deg, #e3e7f6 -52.27%, rgba(227, 231, 246, 0) 138.23%);
    @include adaptiveValue("padding-top", 75, 45, 1110, 767.98, 1);
    @include adaptiveValue("padding-bottom", 75, 45, 1110, 767.98, 1);
    &__container {
        @media (min-width: $mobile) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: rem(40);
        }
    }

    &__heading {
        @media (min-width: $mobile) {
            flex: 0 1 rem(416);
            text-align: left;
        }
        @media (max-width: $mobile) {
            &:not(:last-child) {
                @include adaptiveValue("margin-bottom", 75, 20, 1110, 767.98, 1);
            }
        }
    }

    &__body {
        position: relative;
        @media (min-width: $mobile) {
            flex: 0 1 rem(560);
        }
    }

    &__images {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        display: flex;
        gap: rem(30);
        @media (min-width: $pc) {
            top: rem(40);
        }
        @media (max-width: em(860)) {
            left: auto;
            right: rem(40);
        }
        @media (max-width: $mobile) {
            right: 50%;
            transform: translate(50%, 0px);
            top: rem(40);
        }
        @media (max-width: $mobileSmall) {
            gap: rem(20);
            position: relative;
            justify-content: center;
            &:not(:last-child) {
                margin-bottom: rem(45);
            }
        }
    }

    &__column {
        @include adaptiveValue("width", 190, 160, 1110, 767.98, 1);
        @media (max-width: $mobile) {
            @include adaptiveValue("width", 190, 135, 767.98, 320, 1);
        }
        &:first-child {
            @include adaptiveValue("margin-top", 75, 20, 1110, 767.98, 1);
            @media (max-width: $mobile) {
                @include adaptiveValue("margin-top", 75, 20, 767.98, 320, 1);
            }
        }
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        z-index: 2;
        background-color: $white;
        box-shadow: 0px rem(25) rem(35) rgba(22, 23, 72, 0.05);
        border-radius: rem(8);
        padding: rem(18);
        min-height: rem(170);
        &:not(:last-child) {
            margin-bottom: rem(30);
        }
        img {
            max-width: 100%;
        }
    }

    &__bg {
        @media (min-width: em(1170)) {
            transform: translate(rem(40), 0px);
        }
        @media (max-width: $mobile) {
            text-align: center;
        }
        @media (max-width: $mobileSmall) {
            position: absolute;
            top: 0;
            left: 0;
        }
        img {
            max-width: 100%;
        }
    }
}

//========================================================================================================================================================

.innovation-home {
    @include adaptiveValue("padding-top", 100, 50, 1110, 767.98, 1);
    padding-bottom: rem(30);
    &__container {
    }

    &__heading {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 90, 50, 1110, 767.98, 1);
        }
    }

    &__slider {
        &:not(:last-child) {
            margin-bottom: rem(45);
        }
    }

    &__swiper {
        margin-top: rem(-25);
        padding: rem(25) 0px rem(45) 0px;
    }

    &__slide {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: $white;
        box-shadow: 0px 0px rem(8) rgba(22, 23, 72, 0.07), 0px rem(25) rem(35) rgba(22, 23, 72, 0.05);
        border-radius: rem(8);
    }

    &__navigation {
        display: flex;
        align-items: center;
        gap: rem(8);
    }

    &__nav-item {
        flex: 0 0 rem(24);
        height: rem(24);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        svg {
            transition: all 0.3s ease 0s;
        }
        @media (any-hover: hover) {
            &:hover {
                svg {
                    fill: $dark-2;
                }
            }
        }

        &_prev {
            transform: rotate(-180deg);
        }

        &_next {
        }
    }
}

//========================================================================================================================================================
