.products-page {
    &__main-screen {
        .main-screen__content {
            flex: 0 0 percent(470, 1110);
        }
        .main-screen__image {
            @media (min-width: $mobile) {
                margin: 0 rem(-40);
                flex: 0 0 percent(670, 1110);
            }
        }
    }
}

//========================================================================================================================================================
