.products-page {
    &__main-screen {
        .main-screen__content {
            flex: 0 0 percent(470, 1110);
        }
        .main-screen__image {
            @media (min-width: $mobile) {
                margin: 0 rem(-40);
                flex: 0 0 percent(670, 1110);
            }
        }
    }
    &__products {
    }
    &__want {
    }
}

//========================================================================================================================================================

.products-block {
    @include adaptiveValue("padding-top", 100, 70, 1110, 767.98, 1);
    @include adaptiveValue("padding-bottom", 80, 60, 1110, 767.98, 1);
    &__container {
    }

    &__item {
        display: flex;
        justify-content: space-between;
        gap: rem(30);
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 100, 60, 1110, 479.98, 1);
        }
        &:last-child {
            @media (min-width: $mobile) {
                flex-direction: row-reverse;
            }
        }

        @media (max-width: $mobile) {
            flex-direction: column;
        }
    }

    &__content {
        @include adaptiveValue("padding-top", 80, 0, 1110, 767.98, 1);
        @media (min-width: $mobile) {
            flex: 0 1 rem(420);
        }
    }

    &__logo {
        img {
            max-width: 100%;
        }
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 32, 16, 1110, 479.98, 1);
        }
    }

    &__text {
        line-height: math.div(27, 16);
        p {
            &:not(:last-child) {
                @include adaptiveValue("margin-bottom", 16, 8, 1110, 479.98, 1);
            }
        }
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 32, 16, 1110, 479.98, 1);
        }
    }

    &__button {
        @media (max-width: $mobileSmall) {
            width: 100%;
        }
    }

    &__image {
        @media (min-width: $mobile) {
            flex: 0 1 percent(510, 1110);
        }
        @media (max-width: $mobile) {
            text-align: center;
        }
        @media (min-width: $mobileSmall) {
            max-width: 60%;
            margin: 0px auto;
        }
        img {
            max-width: 100%;
        }
    }
}

//========================================================================================================================================================

.want-products {
    @include adaptiveValue("padding-top", 110, 60, 1110, 767.98, 1);
    @include adaptiveValue("padding-bottom", 110, 60, 1110, 767.98, 1);
    background: linear-gradient(342.12deg, #e3e7f6 -6.53%, rgba(227, 231, 246, 0) 87.81%);
    &__container {
    }

    &__heading {
        max-width: rem(650);
        margin: 0px auto;
        &:not(:last-child) {
            margin-bottom: rem(40);
        }
    }

    &__buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: rem(20);
        @media (max-width: $mobileSmall) {
            flex-wrap: wrap;
        }
    }

    &__button {
        @media (max-width: $mobileSmall) {
            flex: 1 1 100%;
        }
    }
}
